@font-face {
  font-family: "Decovar";
  src: url("./DecovarAlpha-VF.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

/* Remove the margin in all browsers */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  line-height: inherit;
  font-family: "Roboto", serif;
  background-color: #050505;
  color: yellow;
  overflow-y: hidden;
  text-align: left;
  z-index: -2;
}

#heading {
  margin: 0;
  display: inline;
  font-size: 160px;
  white-space: nowrap;
}

#headings-container {
  transform-origin: top left;
  display: flex;
  justify-content: end;
}

.character {
  background-color: #ffffff;
  color: #050505;
  display: inline-block;
  transform-origin: center;
  margin: 0.1em;
  margin-top: -0.4em;
}

#sentences-container {
  position: fixed;
  top: 0;
  left: 0;
}

.sentence {
  position: fixed;
  font-size: 1.5rem;
  max-width: 480px;
  background-color: #ffffff;
  color: #050505;
  margin: 2rem;
  width: fit-content;
  z-index: 0;
  top: 0;
  left: 0;
}

.random-word {
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Inline Skeleton - prostokątny szkielet "SKLA" 100, */
/* Stripes - poprzerywane [?] "SKLD" 100, */
/* Flared - szeryfy, im większe tym ostrzejsze "TRMB" 100, */
/* Sheared - poobcinane rogi "TRMD" 100, */
/* Bifurcated - rozpadające się "TRME" 100, */
/* Inline Terminal - prostokątne dziury w środku "TRMK" 100; */

/* Inline "BLDA" 100, */
/* Open Inline Terminal - krzyże na przecięciach "TRMF" 100, */
/* Rounded Slab "TRMC" 100, */
/* Rounded "TRMA" 100, */
/* Slab "TRMG" 100, */
/* Worm "BLDB" 100, */
/* Worm Skeleton "SKLB" 100, */
/* Worm Terminal "TRML" 100; */
