@font-face {
  font-family: "Decovar";
  src: url("./DecovarAlpha-VF.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

/* Remove the margin in all browsers */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  line-height: inherit;
  font-family: "Roboto", serif;
  background-color: #050505;
  color: yellow;
  overflow-y: hidden;
  text-align: left;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  z-index: 1;
  font-size: 1rem;
  opacity: 0.1;
}

#heading {
  margin: 0;
  display: inline;
  font-size: 160px;
  white-space: nowrap;
}

#headings-container {
  transform-origin: top left;
  display: flex;
  justify-content: end;
}

.heading-character {
  background-color: #ffffff;
  color: #050505;
  display: inline-block;
  transform-origin: center;
  margin: 0.1em;
  margin-top: -0.4em;
}

#sentences-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.sentence {
  position: fixed;
  font-size: 1.5rem;
  max-width: 480px;
  background-color: #ffffff;
  color: #050505;
  margin: 2rem;
  width: fit-content;
  z-index: 2;
  top: 0;
  left: 0;
}

.random-word {
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 1.5rem;
  z-index: 3;
}

.random-word-char {
  color: red;
  font-size: 1.5rem;
  z-index: 3;
}
